#header {
  display: flex;
  align-items: center;
  height: 110px;
  padding: 1rem;
  box-sizing: border-box;
  justify-content: space-around;
}
#menu {
  display: flex;
  gap: 20px;
}

#menu a {
  color: var(--cor-0);
  padding: .5rem 1rem;
  display: block;
  transition: .3s;
}

#menu a:hover {
  color: var(--cor-1);
}


@media(max-width: 900px) {
  #header {
    justify-content: space-between;
  }
}
@media(max-width: 400px){
  #header img {
    width: 180px;
  }
}