#header {
  height: 88px;
  display: flex;
  align-items: center;
  padding: 1.5rem 1rem;
  box-sizing: border-box;
  justify-content: space-around;
  position: fixed;
  width: 100%;
  background: rgba(21,23,25,0.7);
  backdrop-filter: blur( 5px );
  -webkit-backdrop-filter: blur( 5px );
  z-index: 999;
}
#menu {
  display: flex;
  gap: 20px;
}

#menu a {
  color: var(--cor-0);
  padding: .5rem 1rem;
  display: block;
  transition: .3s;
}

#menu a:hover {
  color: var(--cor-1);
}


@media(max-width: 900px) {
  #header {
    justify-content: space-between;
  }
}
@media(max-width: 400px){
  #header img {
    width: 180px;
  }
}