#portfolio .botao {
  display: block;
  margin: auto;
}

.lista-portfolio {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin: 70px 0;
}

.box-itens {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px;
  justify-content: space-between;
  background-color: var(--cor-2);
}

.item-link {
  display: flex;
  gap: 5px;
  align-items: center;
}

.item-link a {
  padding: 5px;
}
.item-conteudo {
  display: flex;
  flex-wrap: wrap;
}

.link-portfolio{
  display: flex;
  gap: 10px;
  align-items: center;
}

#portfolio:after {
  display: block;
  content: '';
  max-width: 1050px;
  height: 1px;
  background: var(--cor-2);
  margin: 69px auto 0 auto;
}

@media(max-width: 1126px){
  .lista-portfolio {
    justify-content: center;
  }
}

@media(max-width: 400px){
  .box-itens {
    padding: 10px;
  }
}