#portfolio .botao {
  display: block;
  margin: auto;
}
.portfolio{
  text-align: center;
}

.portfolio p {
  margin-top: 10px;
}
.card{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  margin: 45px 0;
}

.card-portfolio {
  background-color: var(--cor-2);
}
.icone-portfolio {
  gap: 10px;
  display: flex;
  align-items: center;
}

.icone-portfolio a {
  padding: 2px;
}

.icone-portfolio img {
  width: 25px;
}

.card-conteudo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  flex: 1;
}

#portfolio:after {
  display: block;
  content: '';
  max-width: 1050px;
  height: 1px;
  background: var(--cor-2);
  margin: 69px auto 0 auto;
}

@media(max-width: 917px){
  .card{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }  
}