/* Inicio Site */

.bg {
  background-color: var(--cor-4);
}
.espacamento {
  padding: 70px 0;
}
.espacamento-inicial {
  padding: 10px 0 70px;
}
.introducao-conteudo {
  text-align: center;
  padding: 6rem 0 0;
  overflow: hidden;
}
.introducao-conteudo p {
  margin-top: 15px;
}
.introducao-conteudo h1 {
  min-height: 140px;
  max-width: 456px;
  margin: 0 auto;
}
.introducao-conteudo h1::after {
  content: '|';
  margin-left: 10px;
  font-weight: normal;
  opacity: 1;
  animation: pisca .7s infinite;
}

@keyframes pisca {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.introducao-conteudo img {
  margin: auto;
  border-radius: 50%;
}
.img-container {
  display: block;
  margin-bottom: 30px;
}
.introducao-conteudo::after {
  content: '';
  display: block;
  width: 24px;
  height: 38px;
  background-image: url("../img/icons/mouse.svg");
  margin: 25px auto;
}

/* Cards Inicio */

.cards-introducao {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
}

.card-inicio {
  border: 1px solid var(--cor-2);
  border-radius: 30px;
  padding: 50px 35px;
  box-sizing: border-box;
}

.card-inicio h3 {
  margin: 10px 0;
}

/* Skills */

.skills {
  display: flex;
  padding: 70px 0;
  gap: 54px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

@media(max-width: 900px) {
  .cards-introducao {
    grid-template-columns: 1fr 1fr;
    gap: 25px;
  }
  
  .introducao-conteudo h1 {
    min-height: 130px;
  }
  .introducao-conteudo p {
    margin-top: 0;
  }
  .cards-introducao .col-3 {
    grid-column: span 2;
  }
  .introducao-conteudo::after {
    background-image: url(/img/icons/mouse.svg);
    margin: 20px auto;
}
}
@media(max-width: 600px) {
  .cards-introducao {
    grid-template-columns: 1fr;
    gap: 25px;
  }
  .cards-introducao .col-3 {
    grid-column: 1;
  }
  .skills {
    display: none;
  }
}

@media(max-width: 400px){
.introducao-conteudo img {
  width: 200px;
  margin: 20px auto;
}
}