#servicos:after {
  display: block;
  content: '';
  max-width: 1050px;
  height: 1px;
  background: var(--cor-2);
  margin: 75px auto 0 auto;
}
.servicos {
  text-align: center;
}
.servicos p {
  margin-top: 10px;
}
.boxs-servicos{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  margin: 45px 0;
}

.box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
  padding: 20px;
  background: var(--cor-2);
  border-radius: 3px;
  color: var(--cor-1);
  cursor: pointer;
  transition: .3s ease-in-out;
}

.box:hover{
  background: var(--cor-p1);
  color: var(--cor-0);
  box-shadow: 0 0 10px #FF333E;
  border-radius: 0px;
}

.icone-servicos {
  text-align: center;
}
.conteudo-box {
  align-items: center;
}
.conteudo-box p {
  max-width: 205px;
}
.box h3 {
  margin-bottom: 5px;
}
@media(max-width: 1108px) {
  .box {
    text-align: center;
  }
}
@media(max-width: 900px) {
  .boxs-servicos{
    grid-template-columns: 1fr 1fr;
  }
  .box {
    justify-content: center;
  }
}
  @media(max-width: 550px){
    .boxs-servicos{
      grid-template-columns: 1fr;
    }
  }
