.sobre-bg {
  background-color: var(--cor-2);
}
.sobre-conteudo h2 {
  margin-bottom: 20px;
}
.sobre-display{
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 35px;
  padding: 70px 0;
}
.sobre-conteudo img {
  object-fit: cover;
  height: 100%;
}
.sobre-conteudo p {
  max-width: 535px;
}

.redes-sociais {
  display: flex;
  gap: 15px;
  margin: 20px 0;
  align-items: center;
}

@media(max-width: 900px){
  .sobre-display{
    grid-template-columns: 1fr;
    gap: 35px;
    padding: 30px 0;
    justify-items: center;
  }
  .sobre-flex {
    flex-direction: column-reverse;
  }
  .sobre-conteudo {
    margin-bottom: 30px;
  }
}